.form-checkout {
  grid-area: form;
}

.form-checkout button {
  width: 100%;
  margin-top: 20px;
}

.form-checkout-group {
  display: flex;
  flex-direction: column;
}

.form-error {
  color: var(--warn);
  font-size: 0.7rem;
}

@media (min-width: 1035px) {
  .form-checkout-group {
    flex-direction: row;
  }

  .form-checkout-group > * {
    flex: 1;
  }

  .form-checkout-group > *:nth-child(2) {
    margin-left: 20px;
  }
}
