.cart {
  display: grid;
  grid-template-rows: auto 70vh;
}

@media (min-width: 600px) {
  .cart-title {
    margin-bottom: 10px;
  }
}

.cart-list {
  overflow: auto;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item-title,
.cart-item-amount,
.cart-item-price,
.cart-item-price-total {
  padding: 0 20px;
}

.cart-item-figure {
  width: 100px;
  height: 100px;
}

.cart-item-figure img {
  width: inherit;
  height: inherit;
}

.cart-item-title {
  padding: 0 20px;
  flex: 1;
}

.cart-item-amount {
  max-width: 100px;
}

.cart-item-amount input {
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: center;
}

.cart-item-price-total {
  font-weight: 700;
}

.cart-item-remove {
  width: 30px;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s;
}

.cart-item-remove:hover {
  color: var(--dark);
}

.cart-item .cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-footer {
  display: flex;
  flex-direction: column;
}

.cart-total {
  margin-bottom: 10px;
}

.cart-total-title,
.cart-total-price {
  text-align: right;
}

.cart-total-price {
  font-weight: 700;
  font-size: 1.6rem;
}

@media (min-width: 600px) {
  .cart-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart-total {
    margin-bottom: 0;
  }

  .cart-total-title,
  .cart-total-price {
    text-align: left;
  }
}
