@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
}

ul {
  list-style: none;
}

input {
  border: 0;
}

main {
  display: grid;
  grid-template-rows: 60px 1fr;
}

/*Typographys */
body {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}

p {
  color: var(--text);
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

/* Buttons */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--contrast);
  border: 0;
  padding: 5px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.button:hover {
  background-color: var(--dark);
}

.button.stroked {
  background-color: transparent;
  box-shadow: 0 0 0 1px inset var(--primary);
  color: var(--primary);
}

.button.stroked:hover {
  box-shadow: 0 0 0 1px inset var(--dark);
  color: var(--dark);
}

/* Variables */
:root {
  --primary: #ff5722;
  --dark: #b53810;
  --warn: #f44336;
  --contrast: #fff;
  --text: #696969;
  --breakpoint-sm: 480px;
  --breakpoint-md: 1000px;
}
